body {
    background-color: #0d0d0d;
    color: #9e9790;
    
}

.navbar-nav {
    border: 2px solid #9e9790;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 20px;
    display: flex;
    background: rgba(15, 14, 13, 0.3);
    box-shadow: 0 8px 32px 0 rgba( 158, 151, 144, 0.3 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    
}

.nav-item {
    font-size: 130%;
}

.work-title {
    margin: auto;
    padding-top: 3%;
    display: flex;
    justify-content: center;
    font-size: 100px;
    font-weight:bold;
}
.work-description {
    margin: auto;
    padding-top: 2%;
    display: flex;
    justify-content: center;  
    font-size: 250%;
}

.work-gallery {
    justify-content: center;
    display:flex;
}
.work-gallery1 {
    justify-content: center;
    display:flex;
    padding-top:10%;
}

.gallery {
    margin-top: 6%;
    margin-left: 65%;
    width: 30%;
    height: 90%;
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
}
.gallery2 {
    margin-top: 6%;
    margin-left: 24%;
    width: 32%;
    height: 90%;
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.gallery2 img {
    width: 100%;
    height: auto;
    position: sticky;
    left: 0;
    flex-shrink: 0;
    object-fit: cover;
}

.gallery img {
    width: 100%;
    height: auto;
    position: sticky;
    left: 0;
    flex-shrink: 0;
    object-fit: cover;
    
}

.work-name {
    overflow: hidden;
    justify-content: center;
    margin-top: 30%;
    font-size: 300%;
    width: 50%;
    height: 45%;
    border: 2px solid #9e9790;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    background: rgba(158, 151, 144, 0.3);
    box-shadow: 0 8px 32px 0 rgba( 158, 151, 144, 0.3 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
}

.work-name2 {
    overflow: hidden;
    margin-left: 63%;
    justify-content: end;
    margin-top: 30%;
    font-size: 300%;
    width: 50%;
    height: 45%;
    border: 2px solid #9e9790;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    background: rgba(158, 151, 144, 0.3);
    box-shadow: 0 8px 32px 0 rgba( 158, 151, 144, 0.3 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );

}

.websites {
    display: flex;
    padding: 3%;
    justify-content: space-around;
    position: center;
}

